      <footer>
	    		<ul>
	        		<li><a href="https://github.com/MetaCrazie">
	        		  <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Github</button></a></li>
	        		<li><a href="https://plus.google.com/u/0/+PratyushaMaiti">
	        		  <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Google+</button></a></li>
	        		<li><a href="mailto:pratyusha.taurus@gmail.com">
	        		  <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Email</button></a></li>
				</ul>
			</footer>
