<!DOCTYPE html>
	<html>
	  {%include head.html%}
	  <head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.teal-pink.min.css">
      <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		 {%include header.html%}
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/MetaCrazie">
	        		  <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Github</button></a></li>
	        		<li><a href="https://plus.google.com/u/0/+PratyushaMaiti">
	        		  <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Google+</button></a></li>
	        		<li><a href="mailto:pratyusha.taurus@gmail.com">
	        		  <button class="mdl-button mdl-js-button mdl-js-ripple-effect">Email</button></a></li>
				</ul>
			</footer>
			
	</body>
	</html>




