<!DOCTYPE html>
	<html>
	  {%include ssl.html%}
	  {%include head.html%}
	  <head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.teal-pink.min.css">
      <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		 {%include header.html%}
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			{%include footer.html%}
			
	</body>
	</html>




